* {
    padding: 0;
    margin: 0;
}

body {
    min-width: 808px;
}

h2:hover,h3:hover, h4:hover, h6:hover {
    background-color: rgb(76,100,187);
    /* -webkit-appearance: button; */
    /* box-shadow: 1px 1px 5px #9e9e9e; */
    /* border-radius: 5px; */
    cursor: pointer;
}

.selectedCate{
    background-color: rgb(69,91,169);
}

li {
    cursor: pointer;
    list-style-type: none;
    /* border-bottom: 1px solid rgba(197, 197, 197, 0.1); */
}

.data-cate>li:focus {
    /* background-color: #ebebeb; */
}
.task-title:hover{
    background-color: rgb(249,249,249);
}
#cateList ul {
    font-weight: normal;
    line-height: 2;
    /* text-align: center; */
}

span.fa.fa-minus-circle {
    /*opacity: 0;*/
    float: right;
    line-height: 2;
    opacity: 0;
    /* right: 0; */
    /* position: relative; */
    /* margin: inherit; */
}

h4 {
    font-weight: normal;
}

ul#taskList {
    border-top: 1px dashed #bbbbbb;
}

#cateList li {
    margin-left: 15px;
    /*ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â®Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚Â®ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â·Ãƒâ€¦Ã‚Â¸span.minus-circleÃƒÆ’Ã‚Â§ÃƒÂ¢Ã¢â€šÂ¬Ã‚ÂºÃƒâ€šÃ‚Â¸ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚ÂÃƒâ€¦Ã¢â‚¬â„¢*/
    line-height: 2;
    opacity: .7;
}

header {
    width: 100%;
    min-width: 700px;
    height: 45px;
    top: 0;
    left: 0;
    background: #448aff;
    line-height: 45px;
    color: #fff;
}

.container {
    width: 100%;
    min-width: 808px;
    min-height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #e6ebf5;
    /* overflow: hidden; */
    /* padding: 16px 16px 8px 16px; */
    box-sizing: border-box;
    /*padding: 10px; ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â³ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â¾Ãƒâ€šÃ‚Â§ÃƒÆ’Ã‚Â¥ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â®Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â¼Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚ÂºÃƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¥ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¡Ãƒâ€šÃ‚Âº*/
}

h2 {
    width: 250px;
    /* margin-left: 5px; */
    opacity: .8;
}
.leftCate, .midTask, .rightContent {
    /* float: left; */
    /* padding-bottom: 10000px; */
    /* margin: 0 0 -10000px; */
}

.leftCate {
    float: left;
    width: 250px;
    height: 100%;
    position: relative;
    background-color: rgb(80, 105, 196);
    color: #FFF;
    /* background-image: linear-gradient(120deg, #155799, #159957); */
    z-index: 1;
}



#addCate, #addTask {
    position: absolute;
    bottom: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #31CBFA;
    text-align: center;
    line-height: 40px;
    color: #FFFFFF;
}
#addTask {
    left: 229px;
    /* text-shadow: 0 0 rgba(126, 57, 199, 0.48); */
}

div#addCate {
    left: 192px;
}
.midTask {
    position: relative;
    float: left;
    width: 290px;
    min-width: 270px;
    height: 100%;
    background-color: #FFFFFF;
    margin-left: -17px;
    z-index: 2;
}


.status {
    text-align: center;
    width: 264px;
    height: 45px;
    padding: 0px 0 5px 0;
    line-height: 45px;
    /* background-color: #ACACAC; */
}

.status ul {border-bottom: 1px solid rgba(197, 197, 197, 0.38);display: inline-block;}

.status li {
    cursor: pointer;
    float: left;
    /* color: #FFF; */
    /* opacity: .8; */
    width: 88px;
    /*height: 30px;*/
    text-align: center;
    /*line-height: 30px;*/
/*    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;*/
    /* background-color: #eeeeee; */
}

.status li:hover {
    /* color: #e2e2e2; */
}

.status li:first-child {
    /* margin-left: 10px; */
    /* width: 100px; */
}

.status li.choose {
    background-color: #6ED9E4;
}

.rightWrap {
    /* float: left; */
    /* height: 100%; */
    /* clear: both; */
    /* margin-left: 552px; */
    /*min-width: 200px;*/
}

.rightContent {
    /*ÃƒÆ’Ã‚Â¥Ãƒâ€¦Ã‚Â Ãƒâ€šÃ‚Â ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚ÂµÃƒâ€šÃ‚Â®ÃƒÆ’Ã‚Â¥Ãƒâ€¦Ã‚Â Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â¸Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â¨Ãƒâ€ Ã¢â‚¬â„¢Ãƒâ€šÃ‚Â½ÃƒÆ’Ã‚Â¥ÃƒÂ¢Ã¢â€šÂ¬Ã‚ÂºÃƒâ€šÃ‚ÂºÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â®Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã‚Â¥Ãƒâ€¦Ã¢â‚¬Å“Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â³ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â¾Ãƒâ€šÃ‚Â§ÃƒÆ’Ã‚Â¯Ãƒâ€šÃ‚Â¼Ãƒâ€¦Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â®Ãƒâ€šÃ‚Â½ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚ÂºÃƒâ€šÃ‚Â¦ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¤Ãƒâ€šÃ‚ÂªÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚ÂªÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã‚Â¦Ãƒâ€¦Ã‚Â½ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â¸ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â¥*/
    /* float: left; */
    position: relative;
    /* background-color: rgb(80, 105, 196); */
    margin-left: 502px;
    z-index: 3;
    height: 100%;
    left: 0;
    right: 0;
    /* overflow: hidden; */
    background-color: rgba(250, 250, 250, 1);
    /*ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â¿ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã‚Â©ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¡Ãƒâ€¦Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â¦Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â¥Ãƒâ€¦Ã‚Â Ãƒâ€šÃ‚Â margin*/
    /* margin-right: 16px; */
}

.DoneorEdit {
    float: right;
    /* display: none; */
    margin-right: 5px;
}

.task_title {
    /* position: fixed; */
    /* top: 41px; */
    /* display: block; */
    /* height: 40px; */
    padding-left: 10px;
    line-height: 40px;
    background-color: rgb(253, 253, 253);
    border-bottom: 1px solid rgb(238, 238, 238);
}

span#hidTitle {
    /* height: 40px; */
    /* line-height: 40px; */
}

.task_date {
    padding-left: 10px;
    /* position: relative; */
    /* top: 41px; */
    display: block;
    /* overflow: hidden; */
    line-height: 40px;
    background-color: rgb(253, 253, 253);
    border-bottom: 1px solid rgb(238, 238, 238);
}

.rightHideWrap {
    display: none;
    /* position: relative; */
    /* height: 100%; */
    /* top: -633px; */
    /* margin-left: 552px; */
    /*min-width: 200px;*/
}

.rightHide {
    /*display: none;*/
    margin-left: 520px;
    height: 100%;
    position: absolute;
    /* bottom: 0; */
    /* float: right; */
    top: 0;
    right: 0;
    left: 0;
    /*margin: 16px 16px 0px 16px;*/
    background-color: #FFFFFF;
}

textarea#inputContent {
    display: block;
    width: 100%;
    text-indent: 2em;
    height: 100%;
    border: none;
    resize: none;
    /* bottom: 0; */
}

textarea {
    /* height: 100%; */
    min-height: 200px;
    resize: none;
    width: 100%;
    border: none;
    overflow-y: visible;
}


.task_content {
    background-color: rgb(250, 250, 250);
    /* width: 500px; */
    /* min-height: 200px; */
    /* max-height: 90%; */
    /* margin-left: -100px; */
    position: absolute;
    text-indent: 2em;
    /* padding: 10px 10px 0 10px; */
    z-index: 3;
    right: 0;
    top: 82px;
    left: 0;
    bottom: 0px;
    /* height: 200px; */
    /* margin-left: 520px; */
    /*padding: 3px;*/
    /* outline: 0; */
    /*border: 1px solid #e4e4e4;*/
    font-size: 12px;
    word-wrap: break-word;
    /* overflow-x: hidden; */
    overflow-y: auto;
    -webkit-user-modify: read-only;
}
.content {
    width: 100%;
    bottom: 26px;
    /* margin-bottom: 10px; */
    top: 82px;
    /* height: 550px; */
    /* height: 100%; */
    position: absolute;
    /* bottom: 0; */
    /* overflow: hidden; */
    /* color: black; */
}

div#cover {
     display: none;
     position: absolute;
     /* width: 100%; */
     /* height: 100%; */
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     /* float: left; */
     /* overflow: hidden; */
}

.cover_wrap {
    /* display: none; */
    width: 300px;
    height: 180px;
    background-color: rgb(253, 253, 253);
    /* margin: 0 auto; */
    margin-left: -150px;
    margin-top: -90px;
    /* margin-bottom: -125px; */
    /* line-height: 250px; */
    position: absolute;
    left: 50%;
    top: 50%;
    /* border-radius: 10px; */
    /* clear: both; */
}

.cover_title {
    text-align: center;
    /* border-bottom: 1px dashed; */
    background-color: #4497ff;
    /* border-radius: 10px; */
}

.cover_mainClass {
    /* right: 10px; */
    width: 170px;
    height: 25px;
    /* position: absolute; */
    /* float: right; */
    /* margin: 0 auto; */
    /* margin-right: 10px; */
}



.cover_content {
    margin: 10px;
    text-align: center;
}

input#newCateName {width: 150px;height: 25px;margin-top: 10px;}

.cover_footer {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    bottom: 15px;
    /* margin-bottom: 20px; */
}

button {
    width: 60px;
    height: 25px;
    background-color: rgb(68, 151, 255);
    /* margin: 0 auto; */
}
div#saveOrReturn {
    /* margin: 0; */
    /* padding: 0; */
    /* font-size: 0; */
    /* line-height: 0; */
    float: left;
}

.leftCateWrap {
    /* height: 100%; */
    /* width: 250px; */
    /* float: left; */
    /* overflow: scroll; */
}

div#addCate {}

.addCateWrap {
    /* position: absolute; */
    /* float: left; */
    /* width: 232px; */
    /* height: 100%; */
    /* z-index: 999; */
    /* margin-top: -700px; */
}

ul#cateList {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 72px;
    overflow-y: scroll;
}

ul#tasksList {
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 0px;
    overflow-y: scroll;
    padding: 0 20px 0 20px;
}

.data-cate>li:hover {
    background-color: rgb(76,100,187);
}

.data-cate>li:active {
    background-color: rgba(0,0,0,.14);
}

li.selectedCate {
    background-color: rgb(69,91,169);
    opacity: .8;
}

li.selectedCate {}

.status li:hover {
    background-color: rgba(135, 165, 245, 0.71);
}
li.task-title {
    border-bottom: 1px solid rgba(197, 197, 197, 0.38);
}

.selectedStatus {
    background-color: rgba(111, 143, 208, 0.9);
    /* background-image: linear-gradient(120deg, #155799, #159957); */
}

li.task-title.selectedTask {
    background-color: #f3f3f3;
}
